.box{
    height: 200px;
    width: 200px;
    background-color: red;
    position: fixed;
    right: 0px;
    bottom: 10px;

}
.box-1{
    height: 200px;
    width: 200px;
    background-color:blue;

}

#parent{
    border: 4px solid blue;
    height: 400px;
    width: 400px;
    position: relative;
}
.child{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: absolute;
    right: 0px;
}